<h1>Listing sections</h1>

<main>

<%= render partial: 'shared/aside'%>
  <article>
    <%= link_to 'create new commentary', new_commentary_path %> / <%= link_to 'create new section', new_section_path %>
    
    <% @section.each do |item| %>
      <p><%= link_to item.title, section_path(item) %></p>
    <% end %>
  </article>

  <div class='clear'></div>

</main>