<main>

<%= render partial: 'shared/aside'%>
  <article>
    <%= link_to 'create new commentary', new_commentary_path %>
    
    <% @aside_navigation.each do |item| %>
      <p><%= link_to item.title, commentary_path(item) %></p>
    <% end %>
  </article>

  <div class='clear'></div>

</main>

<h1>Commentaries#index</h1>
<p>Find me in app/views/commentaries/index.html.erb</p>
