<main>
  <%= render partial: 'shared/aside'%>
  <article>
    
  <%= @content.position %>


  <p><%= link_to 'Edit',{ :action => 'edit', :id => @content.id }  %></p>

  <p><%= link_to 'Destroy', commentary_path(@content), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </article>

  <div class='clear'></div>

</main>

<h1>Commentaries#show</h1>
<p>Find me in app/views/commentaries/show.html.erb</p>



