// Place all the styles related to the Commentaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main {
  width: 1000px;
  background-color:pink;
    padding: 10px;
  margin: 10px auto;
}
aside {
   width: 300px;
  background-color:yellow;
  float:left;
}
article {
   width: 600px;
  background-color:green;
  float: right;
}

.clear {
  clear: both;
}

.current {
  color: red;
}
